<li class="flex border rounded-xl h-60">
    <!-- <p class="sno">{{i+1}}</p> -->
    <img class="m-auto rounded-sm" [src]="book.image" alt="{{book.name}}" width="100">
    <div  class="m-auto">
    <p class="text-lg">{{book.name | titlecase}} by {{book.author | titlecase}}</p>
    <p class="my-4">{{book.amount | currency:'INR' }}</p>
    <button class="bg-yellow-400 rounded p-3" *ngIf="!isInCart" (click)="addToCart()">ADD TO CART</button>
    <button class="bg-yellow-400 rounded p-3"*ngIf="isInCart" (click)="removeFromCart()">REMOVE FROM CART</button>
</div>
</li>